#header {
  background-color: #4169E1;
  height: 70px;
  display: flex;
  align-items: center;
}



header a{
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  float: left;
  margin-right: 20px;
  text-decoration: none;
  color: #f6f6f6;
}